.Register {
    width: 350px;
    height: 100%;
    border: 2px solid rgb(45, 130, 149);
    border-radius: 6px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(33, 56, 56);
}


.Register .Title {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(98, 173, 192);
}

.Register .Title p {
    /* outline: 1px solid red; */
    /* color: rgb(98, 173, 192); */
    font-size: 20px;
    padding-right: 10px;
}

.Register .Title i {
    /* outline: 1px solid red; */
    /* color: rgb(98, 173, 192); */
    font-size: 40px;
    position: relative;
    top: 8px;
}


.Register h3 {
    /* outline: 1px solid red; */
    /* box-sizing: border-box; */
    text-align: left;
    font-size: 1.3em;
    font-weight: 400;
    margin-left: 13px;
    padding-left: 5px;
    padding-right: 20px;
    margin-bottom: 17px;
    /* border: 2px solid rgb(45, 130, 149); */
}

.Register .Info {
    font-size: 13px;
    padding: 0px 35px;
    margin-bottom: 15px;
    color: rgb(98, 173, 192);
    text-align:justify;
}

.Register label {
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: left;
    width: 90%;
    color: rgb(98, 173, 192);
    font-size: 1.1em;
    font-weight: 400;
    margin: 3px;
}

.Register .Mismatch {
    color: red;
}


.Register input {
    display: inline-block;
    /* outline: 1px solid red; */
    background-color: hsl(200, 30%, 60%);
    line-height: 1.6;
    /* letter-spacing: 0.75px; */
    font-size: 1.1em;
    padding: 3px 10px;
    width: 85%;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none ;
    box-shadow: none;
}

.Register input:focus {
    background-color: hsl(210, 25%, 70%);
}

.ShowPassword {
    /* outline: 1px solid red; */
    width: fit-content;
    /* margin-left: 17px; */
    margin-left: 231px;
    color: rgb(98, 173, 192);
    font-size: 14px;
    transform: translateY(-10px);
    cursor: pointer;
    user-select: none;
}

.ShowPassword:hover {
    color: hsl(192, 43%, 75%);
}

.ShowPassword:active {
    color: hsl(192, 43%, 40%);
}

.Button {
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 3px;
    margin: 25px 0 10px 0;
    border-radius: 6px;
    border-color: rgb(61, 144, 165);
    background-color: rgb(61, 144, 165);
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.Button:hover {
    background-color: rgb(107, 185, 204);
}

.Button:active {
    background-color: rgb(125, 222, 246);
}

.Register p {
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: left;
}

.Register a {
    color: rgb(98, 173, 192);
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: left;
    margin-left: 10px;
}

.Register a:hover {
    color: rgb(119, 203, 224);
}

