.Toolbar {
    /* outline: 1px solid red; */
    height: 70px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    background-color: rgb(33, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* color: #fff; */
    color: hsl(190, 26%, 60%);
    z-index: 90;
    user-select: none;

}

.Toolbar nav {
    height: 100%;
}

.Toolbar .Wellcome {
    padding-left: 0px;
    font-size: 17px;
    /* letter-spacing: 1.2px; */
    
}