.Login {
    width: 350px;
    height: 100%;
    border: 2px solid rgb(45, 130, 149);
    border-radius: 6px;
    margin-top: 100px;
    text-align: center;
    background-color: rgb(33, 56, 56);
}

.Login h3 {
    /* outline: 1px solid red; */
    width: 40%;
    text-align: center;
    color: rgb(98, 173, 192);
    font-size: 1.3em;
    font-weight: 400;
    margin-left: 13px;
    /* border: 2px solid rgb(45, 130, 149); */
}

.Login label {
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: left;
    width: 90%;
    color: rgb(98, 173, 192);
    font-size: 1.1em;
    font-weight: 400;
    margin: 3px;
}

.Login input {
    display: inline-block;
    /* outline: 1px solid red; */
    background-color: rgb(192, 209, 226);
    line-height: 1.6;
    /* letter-spacing: 0.75px; */
    font-size: 1.1em;
    width: 90%;
    border-radius: 4px;
    margin-bottom: 10px;
    /* outline-color: rgb(189, 69, 22); */
    /* outline-width: 0.1px; */
    /* outline: 0.1px solid #fff; */
    outline: none ;
    box-shadow: none;
}

.Button {
    width: 90%;
    font-size: 1em;
    font-weight: bold;
    padding: 3px;
    margin: 15px 0 10px 0;
    border-radius: 6px;
    border-color: rgb(61, 144, 165);
    background-color: rgb(61, 144, 165);
    outline: none;
    box-shadow: none;
}

.Button:hover {
    background-color: rgb(107, 185, 204);
}

.Button:active {
    background-color: rgb(125, 222, 246);
}

.Login p {
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: left;
}

.Login a {
    color: rgb(98, 173, 192);
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: left;
    margin-left: 10px;
}

.Login a:hover {
    color: rgb(119, 203, 224);
}